@import 'src/app/scss/mixins';
@import 'src/app/scss/variables';

.timetable {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  width: 100%;
}

.column__hours {
  width: 80px;
}

.tail {
  height: 100px;
}

.tail__hour {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding-right: 6px;
  padding-left: 3px;
  font-size: 0.9em;

  @include respond-to('laptop') {
    padding-right: 10px;
    padding-left: 5px;
    font-size: 1em;
  }
}

.tail__day {
  height: 2.7rem;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tail__day--date {
  font-size: 0.8em;
}

.tail__booking {
  border: 1px solid black;
  margin-top: -1px;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-booking-indicator {
  width: 80%;
}
