<div class="timetable">
  <section class="column column__hours">
    <article class="tail tail__day"></article>
    <article *ngFor="let hour of hours" class="tail tail__hour">
      {{ hour }}
    </article>
  </section>
  <section class="column" *ngFor="let day of week; let i = index">
    <article class="tail tail__day">
      <span class="tail__day--date">{{ day | date: "d"}}</span>
      <span *ngIf="!mobileQuery.matches; else firstLetterOfDay ">{{ days[i] }}</span>
      <ng-template #firstLetterOfDay>{{ days[i][0] }}</ng-template>
    </article>
    <article *ngFor="let hour of hours" class="tail tail__booking">

    </article>
  </section>
</div>
